body {
  background: rgba(242, 8, 47, 0.187);
}

h1,
p {
  text-align: center;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: purple;
  font-size: 20px;
}
